<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="style.css">
    <script src="client.js" defer></script>
</head>
<body>
    <div id="app">
        <h1>Shopping List</h1>
        <div class="actionStrip">
          <input type="checkbox" id="edit-button" class="hidden-checkbox" v-model="editing" @click="editBtnClick"><label for="edit-button" class="button" tabindex="0">Edit</label>
          <button type="button" @click="focusNextOrNew" class="button">Add Item</button>
        </div>
        <ol id="main-list">
          <todo-item
            v-for="(item, index) in items"
            v-bind:todo="item"
            v-bind:key="item.id"
            v-bind:last="index == items.length-1"
            v-bind:editing="editing"
            :ref="setItemRef"
            @remove="removeItem(index)"
            @next="focusNextOrNew(index)"
          ></todo-item>
        </ol>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
</body>
</html>