/* GLOBAL STUFF */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
}

/* APP CONTAINER */
#app {
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    padding: 1em;

    color: var(--text-color);
    background-color: var(--bkg-color);

    /* Color theme */
    --text-color: #221466;
    --bkg-color: #f8f6ff;
    --accent-color: #5947b3;
    --space-color: #fff;
    --shadow-color: #22146633;
}

/* BIG TITLE */
h1 {
    color: var(--accent-color);
}

/*MAIN LIST*/
#main-list {
    display: block;
    list-style: none;
    
    font-size: 2em;
}

#main-list:empty::after {
    content: 'Press edit to add an item!';
    opacity: 50%;
}

/*LIST ITEM*/
#main-list li {
    display: inline;
    white-space: pre-wrap;
}
#main-list li span:focus {
    outline: none;

    color: var(--accent-color);
    background-color: var(--space-color);
    box-shadow: var(--shadow-color) 0 3px 6px;
    border-radius: 0.3em;
}

/* BUTTONS */
.actionStrip {
    margin: 1em 0;
}
.actionStrip > *:not(:last-child) {
    margin-right: 0.5em;
}

.button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    border: none;
    outline: none;
    font-size: 1em;

    padding: 0.5em 1em;
    color: var(--accent-color);
    background-color: var(--space-color);
    box-shadow: var(--shadow-color) 0 3px 6px;
    border-radius: 9999px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    transform: translateZ(0);
}

.button:hover, .button:focus {
    transform: translateZ(0) scale(1.1);
}

.button:active, .hidden-checkbox:checked + label {
    color: var(--space-color);
    background-color: var(--accent-color);
}

.hidden-checkbox {
    display: none;
}